* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 48px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content > a {
  border: 3px solid black;
  padding: 20px;
  margin: 10px;
  transition: background-color 0.5s;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#content > a:hover {
  background-color: tan;
}

.second > ul {
  list-style: none;
  list-style-type: none;
  display: flex;
}

.second > ul > li > img {
  width: 200px;
  margin: 20px;
  cursor: pointer;
  height: 200px;
  font-size: 0;
}

#largeImg {
  width: 500px;
  height: 500px;
}

.third > ul {
  list-style: none;
  list-style-type: none;
}

.third > ul > li {
  padding: 20px;
  border: 2px black solid;
  cursor: pointer;
}

.selected {
  background-color: tan;
}

.slider {
  border-radius: 5px;
  background: #aeaeae;
  width: 300px;
  height: 15px;
  margin: 30px;
}

.stick {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 0px;
  top: -5px;
  background: black;
  cursor: pointer;
}

.product {
  padding: 10px;
  border: 1px solid #000;
  margin: 10px;
  cursor: move;
}

#cart {
  padding: 10px;
  border: 2px dotted #000;
  margin: 10px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: tan;
  position: relative;
  margin-top: 50px;
}

.ring {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dotted tan;
  background-color: antiquewhite;
  position: relative;
  margin-top: 50px;
}
